services:
  daily-challenge-service:
    container_name: daily-challenge-service
    build:
      context: ../
      dockerfile: dockerfiles/daily-challenge.Dockerfile
    environment:
      - CODEHORN_GATEWAY_SERVICE=gateway-service
      - CODEHORN_PROBLEMS_SERVICE=problems-service
      - CODEHORN_EVALUATION_SERVICE=evaluation-service
      - CODEHORN_DAILY_CHALLENGE_SERVICE=daily-challenge-service
      - CODEHORN_CONTESTS_SERVICE=contests-service
      - CODEHORN_PRACTICE_SERVICE=practice-service
      - CODEHORN_C_EXECUTION_SERVICE=c-execution-service
      - CODEHORN_CPP_EXECUTION_SERVICE=cpp-execution-service
      - CODEHORN_JAVA_EXECUTION_SERVICE=java-execution-service
      - CODEHORN_PYTHON_EXECUTION_SERVICE=python-execution-service
      - CODEHORN_JAVASCRIPT_EXECUTION_SERVICE=javascript-execution-service