on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '25'

      - name: Change Distribution Url of Gradle
        env:
          NEW_DISTRIBUTION_URL: https\://services.gradle.org/distributions/gradle-9.1.0-bin.zip
        run: sed -i "s|^distributionUrl=.*|distributionUrl=$NEW_DISTRIBUTION_URL|" gradle/wrapper/gradle-wrapper.properties

      - name: Build All Microservices
        run: |
          chmod +x gradlew
          ./gradlew build -x test

  docker-images:
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Change Distribution Url of Gradle
        env:
          NEW_DISTRIBUTION_URL: https\://services.gradle.org/distributions/gradle-9.1.0-bin.zip
        run: sed -i "s|^distributionUrl=.*|distributionUrl=$NEW_DISTRIBUTION_URL|" gradle/wrapper/gradle-wrapper.properties

      - name: Setup docker
        uses: docker/setup-docker-action@v4

      - name: Dockerize gateway-service
        run: |
          docker build . -t irsathkareem/codehorn:1.0-gateway -f dockerfiles/gateway.Dockerfile

      - name: Dockerize problems-service
        run: |
          docker build . -t irsathkareem/codehorn:1.0-problems -f dockerfiles/problems.Dockerfile

      - name: Dockerize practice-service
        run: |
          docker build . -t irsathkareem/codehorn:1.0-practice -f dockerfiles/practice.Dockerfile

      - name: Dockerize contests-service
        run: |
          docker build . -t irsathkareem/codehorn:1.0-contests -f dockerfiles/contests.Dockerfile

      - name: Dockerize daily-challenge-service
        run: |
          docker build . -t irsathkareem/codehorn:1.0-daily-challenge -f dockerfiles/daily-challenge.Dockerfile

      - name: Dockerize evaluation-service
        run: |
          docker build . -t irsathkareem/codehorn:1.0-evaluation -f dockerfiles/evaluation.Dockerfile

      - name: Dockerize c-execution-service
        run: |
          docker build . -t irsathkareem/codehorn:1.0-c-execution -f dockerfiles/c-execution.Dockerfile

      - name: Dockerize cpp-execution-service
        run: |
          docker build . -t irsathkareem/codehorn:1.0-cpp-execution -f dockerfiles/cpp-execution.Dockerfile

      - name: Dockerize java-execution-service
        run: |
          docker build . -t irsathkareem/codehorn:1.0-java-execution -f dockerfiles/java-execution.Dockerfile

      - name: Dockerize python-execution-service
        run: |
          docker build . -t irsathkareem/codehorn:1.0-python-execution -f dockerfiles/python-execution.Dockerfile

      - name: Dockerize javascript-execution-service
        run: |
          docker build . -t irsathkareem/codehorn:1.0-javascript-execution -f dockerfiles/javascript-execution.Dockerfile

      - name: Verify Docker images
        run: docker images