name: Build and Deploy Docker images

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
#  build:
#    runs-on: ubuntu-latest
#
#    steps:
#      - name: Checkout code
#        uses: actions/checkout@v4
#
#      - name: Setup Java
#        uses: actions/setup-java@v5
#        with:
#          distribution: 'temurin'
#          java-version: '25'
#
#      - name: Change Distribution Url of Gradle
#        env:
#          NEW_DISTRIBUTION_URL: https\://services.gradle.org/distributions/gradle-9.1.0-bin.zip
#        run: sed -i "s|^distributionUrl=.*|distributionUrl=$NEW_DISTRIBUTION_URL|" gradle/wrapper/gradle-wrapper.properties
#
#      - name: Build All Microservices
#        run: |
#          chmod +x gradlew
#          ./gradlew build -x test

  docker-images:
#    needs:
#      - build
    runs-on: ubuntu-latest

    strategy:
      matrix:
        service:
#          - gateway
#          - problems
#          - practice
#          - contests
#          - daily-challenge
#          - evaluation
#          - c-execution
#          - cpp-execution
          - java-execution
#          - python-execution
#          - javascript-execution

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Change Distribution Url of Gradle
        env:
          NEW_DISTRIBUTION_URL: https\://services.gradle.org/distributions/gradle-9.1.0-bin.zip
        run: sed -i "s|^distributionUrl=.*|distributionUrl=$NEW_DISTRIBUTION_URL|" gradle/wrapper/gradle-wrapper.properties

      - name: Setup docker
        uses: docker/setup-docker-action@v4

      - name: Dockerize ${{ matrix.service }}
        run: |
          docker build . -t irsathkareem/codehorn:1.0-${{ matrix.service }} -f dockerfiles/${{ matrix.service }}.Dockerfile

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker push ${{ matrix.service }}
        run: |
          docker push irsathkareem/codehorn:1.0-${{ matrix.service }}